/*
 * header
 */
header {
}

/*
 * main
 */
main {
}

/*
 * article
 */
article {
}

/*
 * footer
 */
footer {
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width:$container-max-width;
  width:$container-width;
}
