/*
 * padding
 */
.p-a { padding:$p; }
.p-sm { padding:$p-sm;}
.p-lg { padding:$p-lg; }

.p-t-a { padding-top:$p; }
.p-t-sm { padding-top:$p-sm; }
.p-t-lg { padding-top:$p-lg; }

.p-r-a { padding-right:$p; }
.p-r-sm { padding-right:$p-sm; }
.p-r-lg { padding-right:$p-lg; }

.p-b-a { padding-bottom:$p; }
.p-b-sm { padding-bottom:$p-sm; }
.p-b-lg { padding-bottom:$p-lg; }

.p-l-a { padding-left:$p; }
.p-l-sm { padding-left:$p-sm; }
.p-l-lg { padding-left:$p-lg; }

/*
 * margin
 */
.m-a { margin:$m; }
.m-sm { margin:$m-sm;}
.m-lg { margin:$m-lg; }

.m-t-a { margin-top:$m; }
.m-t-sm { margin-top:$m-sm; }
.m-t-lg { margin-top:$m-lg; }

.m-r-a { margin-right:$m; }
.m-r-sm { margin-right:$m-sm; }
.m-r-lg { margin-right:$m-lg; }

.m-b-a { margin-bottom:$m; }
.m-b-sm { margin-bottom:$m-sm; }
.m-b-lg { margin-bottom:$m-lg; }

.m-l-a { margin-left:$m; }
.m-l-sm { margin-left:$m-sm; }
.m-l-lg { margin-left:$m-lg; }

/*
 * text
 */
.text-center { text-align:center; }
.text-justify { text-align:justify; }

/*
 * content
 */
.block { display:block; }
.flex { display:flex; }
.dib { display:inline-block; }

/*
 * color
 */
.u-green {
  background-color: #37A484;
}
.u-red {
  background-color: #B43C3C;
}
.u-yellow {
  background-color: #85A437;
}
.u-brown {
  background-color: #B43C3C;
}
.u-black {
  background-color: #1f1f1f;
}
.u-white {
  background-color: #ffffff;
}
.u-grey {
  background-color: #efefef;
}
.u-grey--stripe {
  @extend .u-grey;
  &:nth-child(even) {
    background-color: #e0e0e0;
  }
}

/*
 * grid
 */
.row {
  display: flex;
  .col {
    flex:1;
  }
}
