$themeColor:#fff;
$themeColor2:#fff;
$accentColor:#fff;

// font size
$font-size-base:1rem;

// media type
$type:sm md pc;

// container
$container-width:95%;
$container-max-width:95%;

$container-width-md:90%;
$container-max-width-md:90%;

$container-width-pc:90%;
$container-max-width-pc:1150px;

// background-color
$bg:#fff;
$bg_tb:#fff;
$bg_pc:#fff;

// margin
$m:1rem;
$m-sm:.5rem;
$m-lg:1.75rem;

// padding
$p:1rem;
$p-sm:.5rem;
$p-lg:1.75rem;
